html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  
  background: #11e8bb;
  background: -moz-linear-gradient(top,  #11e8bb 0%, #ca68ff 100%);
  background: -webkit-linear-gradient(top,  #11e8bb 0%,#ca68ff 100%); 
  background: linear-gradient(to bottom,  #11e8bb 0%,#ca68ff 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11e8bb', endColorstr='#ca68ff',GradientType=0 );
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(10px);
  background: -moz-linear-gradient(top,  #11e8bb 0%, #ca68ff 100%);
  background: -webkit-linear-gradient(top,  #11e8bb 0%,#ca68ff 100%); 
  background: linear-gradient(to bottom,  #11e8bb 0%,#ca68ff 100%);
  opacity: 0.9;
};

h1 {
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-family:'Courier New', Courier, monospace;
  color: white;
}

#characters {
  height: 10%;
  width: 10%;
};

.char-photo {
  float: right;
  height: 90%;
  width: 40%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.character h2 {
  text-align: center;
}

.character{
  text-align: left;
  padding-left: 2%;
  padding-right: 2%;
  font-size: xx-large;
  position: absolute;
  top: 20%;
  right: 22%;
  height: 50%;
  width: 50%;
  background: rgba(210, 111, 250, 0.3);
  overflow-y: auto;
}

#profiles {
  height: 100%;
  width: 100%;
}

.icons {
  float: left;
  height: 35%;
  width: 20%;
}

.profile-icon {
  position: relative;
  bottom: 100%;
  display: block;
  padding: 5%;
  margin-left: auto;
  margin-right: auto;
  height: 40%;
  width: 40%;
  border-radius: 50%;
}

.link {
  float: left;
  display: flex;
  
  padding-top: 15px;
  padding-right: 15px;
}

// ------------------------ custom scrollbar

div::-webkit-scrollbar {
  width: 10px;
}

div::-webkit-scrollbar-track {
  background: -moz-linear-gradient(top,  #11e8bb 0%, #ca68ff 100%);
  background: -webkit-linear-gradient(top,  #11e8bb 0%,#ca68ff 100%); 
  background: linear-gradient(to bottom,  #11e8bb 0%,#ca68ff 100%);
  border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
  background: rgb(108, 226, 226);
  border-radius: 10px;
}

div::-webkit-scrollbar-thumb:hover {
  background: rgb(72, 173, 173);
  border-radius: 10px;
}

div::-webkit-scrollbar-thumb:active {
  background: rgb(72, 173, 173);
  border-radius: 10px;
}

